body{
    font-size: 50px;
}

#clickbutton
{
    background-color: lightgreen;
    font-weight: bold;
    width: 275px;
    height: 80px;
    position: absolute;
    top: 90%;
    left: 45%;
    display: initial;
}

#speedbutton
{
    background-color: yellow;
    font-weight: bold;
    width: 150px;
    height: 75px;
    position: absolute;
    top: 90%;
    left: 35%;
    text-align: center;
    border-color: black;
    display: initial;
}

#plus
{
    background-color: rgb(160, 160, 241);
    font-weight: bold;
    width: 150px;
    height: 75px;
    position: absolute;
    top: 90%;
    left: 25%;
    text-align: center;
    border-color: black;
    display: initial;
}
#healing
{
    background-color: rgb(255, 127, 127);
    font-weight: bold;
    width: 150px;
    height: 75px;
    position: absolute;
    top: 90%;
    left: 15%;
    text-align: center;
    border-color: black;
    display: initial;
}





#coinamount
{
    font-weight: bold;
    width: 500px;
    height: 75px;
    position: absolute;
    top: 85%;
    left: 58%;
    text-align: center;
    border-color: black;
    display: initial;
    
}

#restart
{
    opacity: 85%;
    font-weight: bold;
    width: 1920px;
    height: 950px;
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    border-color: black;
    display: none;
    color: red;
    font-size: 70px;
}
#score
{
    font-weight: bold;
    width: 500px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
    border-color: black;
    display: none;
}


#speedamount
{
    width: 1x;
    font-size:20px;
    height: 1px;
    position: absolute;
    top: 85%;
    left: 35.5%;
    text-align: center;
    border-color: black;
    display: initial;
}
#clickingamount
{
    width: 1x;
    font-size:20px;
    height: 1px;
    position: absolute;
    top: 85%;
    left: 49.25%;
    text-align: center;
    border-color: black;
    display: initial;
}

#totalscore
{
    width: 1x;
    font-size:19px;
    height: 1px;
    position: absolute;
    top: 90%;
    left: 0.25%;
    text-align: center;
    border-color: black;
    display: initial;
}


#controls
{
    width: 1x;
    font-size:19px;
    height: 1px;
    position: absolute;
    top: 90%;
    left: 90%;
    text-align: center;
    border-color: black;
    display: initial;
}
