body{
    font-size: 50px;
}

#clickbutton
{
    background-color: lightgreen;
    font-weight: bold;
    width: 275px;
    height: 80px;
    position: absolute;
    top: 90%;
    margin-left: -54.25vw;
    display: initial;
}
#clickbutton:hover{
    background-color: rgb(115, 170, 32)
}

#speedbutton
{
    background-color: yellow;
    font-weight: bold;
    width: 150px;
    height: 75px;
    position: absolute;
    top: 90%;
    margin-left: -65vw;
    text-align: center;
    border-color: black;
    display: initial;
}
#speedbutton:hover
{
    background-color: rgb(184, 184, 8);
}


#plus
{
    background-color: rgb(160, 160, 241);
    font-weight: bold;
    width: 150px;
    height: 75px;
    position: absolute;
    top: 90%;
    margin-left: -75vw;
    text-align: center;
    border-color: black;
    display: initial;
    
}
#plus:hover{
    background-color: rgb(105, 105, 219)
}
#healing
{
    background-color: rgb(255, 127, 127);
    font-weight: bold;
    width: 150px;
    height: 75px;
    position: absolute;
    top: 90%;
    margin-left: -85vw;
    text-align: center;
    border-color: black;
    display: initial;
}

#healing:hover
{
    background-color: rgb(212, 103, 103);
}




#coinamount
{
    font-weight: bold;
    width: 500px;
    height: 75px;
    position: absolute;
    top: 85%;
    margin-left: -40vw;
    text-align: center;
    border-color: black;
    display: initial;
    
}

#restart
{
    opacity: 85%;
    font-weight: bold;
    width: 1920px;
    height: 950px;
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    border-color: black;
    display: none;
    color: red;
    font-size: 70px;
}
#score
{
    font-weight: bold;
    width: 500px;
    height: 75px;
    position: absolute;
    top: 50%;
    margin-left: 40%;
    text-align: center;
    border-color: black;
    display: none;
}


#speedamount
{
    width: 1x;
    font-size:20px;
    height: 1px;
    position: absolute;
    top: 85%;
    margin-left:-64vw;
    text-align: center;
    border-color: black;
    display: initial;
}
#clickingamount
{
    width: 1x;
    font-size:20px;
    height: 1px;
    position: absolute;
    top: 85%;
    margin-left: -50vw;
    text-align: center;
    border-color: black;
    display: initial;
}

#totalscore
{
    width: 1x;
    font-size:19px;
    height: 1px;
    position: absolute;
    top: 90%;
    margin-left:-99vw;
    text-align: center;
    border-color: black;
    display: initial;
}


#controls
{
    width: 1x;
    font-size:19px;
    height: 1px;
    position: absolute;
    top: 90%;
    margin-left: -10vw;
    text-align: center;
    border-color: black;
    display: initial;
}
